@mixin shakeAnimation {
  @keyframes shakeAnimation {
    0%,
    100% {
      transform: translateX(0);
    }
    50%,
    70%,
    90% {
      transform: translateX(-10px);
      box-shadow: 0 0 15px 2px red;
      border: 1px solid red;
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
      box-shadow: 0 0 15px 2px red;
      border: 1px solid red;
    }
  }
}

@mixin scaleFaceAnimation {
  @keyframes scaleFaceAnimation {
    from {
      transform: scale(20) translateX(50%);
    }
  }
}

@mixin moveUpStepAnimations () {
  @keyframes moveUpStep1 {
    to {
      transform: matrix(1, 0, 0, 1, 161.484, 224.583);
    }
  }

  @keyframes moveUpStep2 {
    from {
      transform: matrix(1, 0, 0, 1, 161.484, 224.583);
    }
    to {
      transform: matrix(1, 0, 0, 1, 161.484, 209.583);
    }
  }

  @keyframes moveUpStep3 {
    from {
      transform: matrix(1, 0, 0, 1, 161.484, 209.583);
    }
    to {
      transform: matrix(1, 0, 0, 1, 161.484, 200.583);
    }
  }
}